{% extends "layout.html" %}



    {% block body %}
        <div class="jumbotron text-center">
            <h3>MoreBlog'a Hoşgeldiniz</h3>
            <p>Producter, Programmer ve Girişimcilerin adresi </p>
        </div>

        <!-- Django condictions :
        {% if answer == "evet" %}
            <p>Cevabınız : evet</p>
        {% else %}
            <p>Cevabınız : hayır</p>
        {% endif %}

        <ul>
            {% for i  in numbers  %}
                <li>{{i}}</li>
            {% endfor %}
        </ul>

        <ul>
            {% for article  in articles  %}
                <li>
                    Article ID : {{article.id}}
                    Title : {{article.title}}
                    Content : {{article.content}}
                </li>
            {% endfor %}
        </ul>

    {% endblock %}
     -->
